<footer>
    <div class="header-title"><div class="logo"><a href="/">
        <span class="quest-small">Quest</span>Map
    </a></div></div>
    <div class="copy">Copyright © 2023. Все права соблюдены.</div>
    <div class="social-media">
        <a href="#"><div class="whatsapp"><img src="/img/whatsapp.svg"></div></a>
        <a href="#"><div class="instagram"><img src="/img/instagram.svg"></div></a>
        <a href="#"><div class="vk"><img src="/img/vk-logo-of-social-network.svg"></div></a>
        <a href="#"><div class="telegram"><img src="/img/telegram.svg"></div></a>
    </div>
</footer>