<div class="head">
    <div class="head-content">
        <a href="#" class="logo">
            <span class="quest-span">Quest</span>
            <span class="map-span">Map</span>
        </a>
        <div class="nav">
            <a class="header-url" href="/">Главная</a>
            {{#if isLogin}}
                <a class="header-url" href="/user">{{nickname}}</a>
            {{else}}
                <a></a>
                <a></a>
                <a href="/auth/login"><button class="login-btn">Вход</button></a>
                <a href="/auth/reg"><button class="register-btn">Регистрация</button></a>
            {{/if}}
        </div>
    </div>
</div>