<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="head">
        <div class="logo">
            <a href="/"><span class="quest-small">Quest</span><span class="map-small">Map</span></a>
        </div>
        <div class="nav">
            <a href="/" class="a"><div class="home">Главная</div></a>
            <a href="#" class="a"><div class="proj-info">Для преподавателей</div></a>
            {{#if isLogin}}
                <a href="/user" class="a"><div class="proj-info">{{nickname}}</div></a>
            {{else}}
            <a href="#" class="a1"><div class="log">Вход</div></a>
            <a href="#" class="reg"><div class="sign">Регистрация</div></a>
            {{/if}}    
        </div>
    </div>
    <main>
        <section class="s1">
            <div class="main-text">
                <div class="quest">Quest</div>
                <div class="map">Map</div>
            </div>
            <div class="sec-text">
                Привет, исследователи! Встречайте QuestMap – ваш личный компас в мире
                <br>географии и топографии. Открывайте новые земли, создавайте собственные карты
                <br>и делитесь открытиями в увлекательных путешествиях. Готовы начать 
                <br>приключение?
            </div>
            <a href="#" class="travel-button">
                <div class="travel">
                Отправиться в путь
                </div>
            </a>
            <div class="animated-earth">
                <img src="/img/earth.png" class="earth-png">
            </div>
        </section>
        <section class="s2">
            <div class="s2-title">
                Особенности QuestMap
            </div>
            <div class="s2-table">
                <div class="s2-table1">
                    <div class="puzzle"><img src="/img/puzzle.svg"></div>
                    <div class="table-title">Интерактивные квесты</div>
                    <div class="table-text">Исследуйте виртуальные<br> территории, решая увлекательные<br> головоломки и расширяя горизонты</div>
                </div>
                <div class="s2-table2">
                    <div class="puzzle"><img src="/img/internet-explorer.svg"></div>
                    <div class="table-title">Интерактивные квесты</div>
                    <div class="table-text">Исследуйте виртуальные<br> территории, решая увлекательные<br> головоломки и расширяя горизонты</div>
                </div>
                <div class="s2-table3">
                    <div class="puzzle"><img src="/img/pin.svg"></div>
                    <div class="table-title">Интерактивные квесты</div>
                    <div class="table-text">Исследуйте виртуальные<br> территории, решая увлекательные<br> головоломки и расширяя горизонты</div>
                </div>
            </div>
            <div class="about-proj">О нашем проекте</div>
            <div class="about-text">QuestMap - это не просто образовательная платформа, это ваш персональный путеводитель по 
                <br>увлекательному миру географии и топографии! Мы здесь, чтобы сделать ваше обучение ярким,
                <br> интерактивным и, конечно же, веселым. С нами вы погрузитесь в мир, где каждая точка на карте
                <br>превращается в захватывающее приключение.<br><br>
                Мы в QuestMap верим, что учеба должна приносить радость и стать основой для ваших будущих
                <br>открытий и путешествий. Наша миссия - делать обучение географии максимально
                <br>интерактивным и понятным для каждого школьника. Мы стремимся объединить обучение и
                <br>развлечение, чтобы вы могли изучать мир вокруг, играя и получая удовольствие.
                </div>
        </section>
    </main>
    <footer>
        <div class="header-title"><div class="logo"><a href="/">
            <span class="quest-small">Quest</span>Map
        </a></div></div>
        <div class="copy">Copyright © 2023. Все права соблюдены.</div>
        <div class="social-media">
            <a href="#"><div class="whatsapp"><img src="/img/whatsapp.svg"></div></a>
            <a href="#"><div class="instagram"><img src="/img/instagram.svg"></div></a>
            <a href="#"><div class="vk"><img src="/img/vk-logo-of-social-network.svg"></div></a>
            <a href="#"><div class="telegram"><img src="/img/telegram.svg"></div></a>
        </div>
    </footer>
</body>
</html>