<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="main.html"><span class="quest-small">Quest</span><span class="map-small">Map</span></a>
        <div class="nav">
            <a href="/" class="nav-element">Главная</a>
            <a href="#" class="nav-element">Личный кабинет</a>
            <a href="#" class="nav-element">Вход</a>
            <a href="#" class="nav-element">Регистрация</a>
        </div>
    </header>
</body>
</html>