<main>
    <section class="s1">
        <div class="main-text">
            <div class="quest">Quest</div>
            <div class="map">Map</div>
        </div>
        <div class="sec-text">
            Привет, исследователи! Встречайте QuestMap – ваш личный компас в мире
            <br>географии и топографии. Открывайте новые земли, создавайте собственные карты
            <br>и делитесь открытиями в увлекательных путешествиях. Готовы начать
            <br>приключение?
        </div>
        <a href="#" class="travel-button">
            <div class="travel">
                Отправиться в путь
            </div>
        </a>
        <div class="animated-earth">
            <img src="/img/earth.png" class="earth-png">
        </div>
    </section>
    <section class="s2">
        <div class="s2-title">
            Особенности QuestMap
        </div>
        <div class="s2-table">
            <div class="s2-table1">
                <div class="puzzle"><img src="/img/puzzle.svg"></div>
                <div class="table-title">Интерактивные квесты</div>
                <div class="table-text">Исследуйте виртуальные<br> территории, решая увлекательные<br> головоломки и расширяя горизонты</div>
            </div>
            <div class="s2-table2">
                <div class="puzzle"><img src="/img/internet-explorer.svg"></div>
                <div class="table-title">Интерактивные квесты</div>
                <div class="table-text">Исследуйте виртуальные<br> территории, решая увлекательные<br> головоломки и расширяя горизонты</div>
            </div>
            <div class="s2-table3">
                <div class="puzzle"><img src="/img/pin.svg"></div>
                <div class="table-title">Интерактивные квесты</div>
                <div class="table-text">Исследуйте виртуальные<br> территории, решая увлекательные<br> головоломки и расширяя горизонты</div>
            </div>
        </div>
        <div class="about-proj">О нашем проекте</div>
        <div class="about-text">QuestMap - это не просто образовательная платформа, это ваш персональный путеводитель по
            <br>увлекательному миру географии и топографии! Мы здесь, чтобы сделать ваше обучение ярким,
            <br> интерактивным и, конечно же, веселым. С нами вы погрузитесь в мир, где каждая точка на карте
            <br>превращается в захватывающее приключение.<br><br>
            Мы в QuestMap верим, что учеба должна приносить радость и стать основой для ваших будущих
            <br>открытий и путешествий. Наша миссия - делать обучение географии максимально
            <br>интерактивным и понятным для каждого школьника. Мы стремимся объединить обучение и
            <br>развлечение, чтобы вы могли изучать мир вокруг, играя и получая удовольствие.
        </div>
    </section>
</main>