
<div class="register-container">
    <h1>Войти</h1>
    <form action="#" method="POST">
        <div class="input-group">
            <label for="username">Логин</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Войти</button>
    </form>
</div>
