
<div class="question-container">
    <p id="question" class="question">Какой ваш любимый цвет?</p>
    <div class="button-container">
        <button id="option-1" class="answer-button" onclick="">Красный</button>
        <button id="option-2" class="answer-button" onclick="">Синий</button>
        <button id="option-3" class="answer-button" onclick="">Зелёный</button>
    </div>
</div>

<script src="js/test-compliting.js"></script>
