
<div class="test-container">
    <h1>Форма создания теста</h1>

    <form action="/test/" method="POST" id="test-form">
        <div class="input-group">
            <label class="form-label" for="title">Заголовок теста:</label>
            <input type="text" id="title" name="title" required><br><br>
        </div>


        <div id="questions-container">

        </div>

        <div class="test-buttons">
            <button class="add-question-btn" type="button" onclick="addQuestion()">Добавить вопрос</button>
            <button class="button create-test-btn" type="submit">Создать тест</button>
        </div>

    </form>
</div>


    <script>
        function addQuestion() {
            const container = document.getElementById('questions-container');
            const questionIndex = container.children.length + 1;

            const questionDiv = document.createElement('div');
            questionDiv.innerHTML = `
            <div class="question">
                <div class="input-group">
                    <label class="form-label" for="question${questionIndex}">Вопрос ${questionIndex}:</label>
                    <input type="text" id="question${questionIndex}" name="questions[${questionIndex - 1}][text]" required><br>
                </div>

                <div class="input-group">
                    <label class="form-label">Вариант ответа 1:</label>
                    <input type="text" id="option${questionIndex}1" name="questions[${questionIndex - 1}][options][0][text]" required>
                    <label class="form-checkbox">
                        Правильный ответ:
                        <input type="checkbox" name="questions[${questionIndex - 1}][options][1][isCorrect]1" value="true">
                    </label>
                </div>
                <div class="input-group">
                    <label class="form-label">Вариант ответа 2:</label>
                    <input type="text" id="option${questionIndex}2" name="questions[${questionIndex - 1}][options][1][text]" required>
                    <label class="form-checkbox">
                        Правильный ответ:
                        <input type="checkbox" name="questions[${questionIndex - 1}][options][1][isCorrect]2" value="true">
                    </label>
                </div>
            </div>
            `;

            container.appendChild(questionDiv);

            const create_test_btn = document.querySelector('.create-test-btn');
            create_test_btn.style.display = 'block';
        }
    </script>