<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/theory.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main style="margin-bottom:100px">
      <div class="section">
        <div class="theory">
          <img src="/img/grozny.jpg" />
          <div class="title-t">
            <div class="title">Грозный</div>
            <div class="text">
              Городской округ город Грозный – муниципальное образование в
              составе Чеченской Республики. <br /><br />Административный центр –
              город Грозный. <br />Городской округ образован 20 февраля 2009 г.
              Расположен в центре республики. Численность населения – 321 797
              человек (2020 г.). <br />Площадь территории - 360,78 км2.
            </div>
          </div>
        </div>
        <div class="theory">
          <div class="title-t">
            <div class="title">Аргун</div>
            <div class="text">
              Городской округ город Аргун – муниципальное образование в составе
              Чеченской Республики. <br />Административный центр – город Аргун.
              <br /><br />Городской округ образован 20 февраля 2009 г.
              Расположен в центральной части республики. Численность населения –
              57 248 человек (2020 г.). Площадь территории - 130,21 км2.
            </div>
          </div>
          <img src="/img/argun.jpg" />
        </div>
        <div class="theory">
          <img src="/img/dol.jpg" />
          <div class="title-t">
            <div class="title">Грозненский район</div>
            <div class="text">
              Грозненский район – административно-территориальная единица и
              муниципальное образование в составе Чеченской Республики.
              Расположен в центральной и западной части региона. Численность
              населения – 76 808 человек (2020 г.). Площадь территории – 1
              236,26 км2.
              <br /><br />Центром муниципального образования «Грозненский район»
              является город Грозный.
            </div>
          </div>
        </div>
        <div class="theory">
          <div class="title-t">
            <div class="title">Ачхой-Мартановский район</div>
            <div class="text">
              Ачхой-Мартановский район – административно-территориальная единица
              и муниципальное образование в<br />
              составе Чеченской Республики. Расположен в западной части региона.
              Численность населения – 91 157 человек <br />(2020 г.). Площадь
              территории – 753,21 км2. <br /><br />Центром муниципального
              образования «Ачхой-Мартановский район» является село Ачхой-Мартан.
            </div>
          </div>
          <img src="/img/achkhoy.jpg">
        </div>
        <div class="theory">
          <img src="/img/urus.jpg">
          <div class="title-t">
            <div class="title">Урус-Мартановский район</div>
            <div class="text">
                Урус-Мартановский район – административно-территориальная единица и муниципальное образование в
                <br> составе Чеченской Республики. Расположен в центральной части региона. Численность населения – 159 518
                <br>человек (2020 г.). Площадь территории – 1 138,81 км2.
                <br><br>Центром муниципального образования «Урус-Мартановский район» является город Урус-Мартан.
            </div>
          </div>
        </div>
        <div class="theory">
          <div class="title-t">
            <div class="title">Веденский район</div>
            <div class="text">
                Веденский район – административно-территориальная единица и муниципальное образование в составе<br>
                Чеченской Республики. Расположен в юго-восточной части региона. Численность населения – 40 428 человек (2020 г.).
                <br>Площадь территории – 94 024 км2.
                <br><br>Центром муниципального образования «Веденский район» является село Ведено.
            </div>
          </div>
          <img src="/img/vedeno.jpg">
        </div>
        <div class="theory">
          <img src="/img/gud.png" />
          <div class="title-t">
            <div class="title">Гудурмесский район</div>
            <div class="text">
                Гудермесский район – административно-территориальная единица и муниципальное образование в
                <br> составе Чеченской Республики. Расположен в восточной части региона. Численность населения – 146 787 человек
                <br> (2020 г.). Площадь территории – 728,23 км2.
                <br><br>Центром муниципального образования «Гудермесский район» является город Гудермес.
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
