@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    --general-font: Montserrat;

    --background-color-1: #ffffff;
    --background-color-2: #eeeeee;
    --main-color-1: #5995c6;
    --main-color-2: #5d7d97;
}

body{
    font-family: var(--general-font);
}