body {
    width: 100vw;
    font-family: var(--general-font);
    margin: auto;
    background: #F5F5F5;
}
.head    {
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 108px;
    box-shadow: 0 -17px 41px 6px rgba(0, 0, 0, 0.10);
    background-color: #F5F5F5;
    color: black;
}
.head .logo {
    height: 48px;
    font-size: 40px ;
    font-weight: 800;
    margin-left: 10%;
}

.home, .proj-info {
    height: 31px;
    margin-left: 29px;
}

.nav {
    display: flex;
    margin-left: auto;
    height: 31px;
    font-size: 25px;
}

.nav .a {
    color : black;
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 39px;
    justify-content: center;
}
.reg {
    color : white;
    font-weight: 600;
    text-decoration: none;
    width: 278px;
    height: 52px;
    background-color: #20766D;
    border-radius: 10px;
    margin-left: 27px;
    margin-top: 28px;
}

.logo a {
    color : black;
    font-weight: 800;
    text-decoration: none;
    margin-top: 30px;
}
a:hover {
    color: #20766D;
}
.a:hover {
    color: #20766D;;
}
.reg:hover {
    border-radius: 10px;
    border: 1px solid #20766D;
    background: #F5F5F5;
    color: #20766D;
    animation-delay: 1s;
    transition: 0.3s;
}
.sign {
    justify-content: center;
    padding-left: 53px;
    padding-top: 10px;
    width: 208px;
    height: 31px;
}
.home {
    width: 157px;
}
.proj-info {
    width: 290px;
    margin-right: 28px;
    margin-left: -40px;
}
.log {
    width: 101px;
    border-radius: 10px;
border: 2px solid #20766D;
background: #F5F5F5;
justify-content: center;
}
.a1{
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 28px;
    color: black;
    justify-content: center;
}
.log:hover {
    color: white;
    background-color:#20766D;
    transition: 0.3s;
}
.log{
    padding-left: 34px;
    text-decoration: none;
        height: 48px;
        border-radius: 10px;
        line-height: 52px;
}
main {
    width: 1920px;
    height: 2550px;
}
.main-text {
    width: 672px;
height: 181px;
color: black;
font-size: 50px;
padding-top: 87px;
text-align: center;
margin-left: 624px;
display: flex;
flex-shrink: 0;
cursor: default;
}
.quest {
    color: #20766D;
text-align: center;
font-family: Montserrat;
font-size: 120px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.quest-small:hover {
    color: #000;
}.logo:hover{
    color: #20766D;
}
.map {
    color: #000;
font-family: Montserrat;
font-size: 120px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sec-text {
    display: flex;
width: 1298px;
height: 165px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.45px;
margin-left: 328px;
}
.travel-button {
    width: 376px;
height: 66px;
flex-shrink: 0;
text-decoration: none;
border-radius: 10px;
position: relative;
z-index: 1;

}
.travel {
    width: 376px;
height: 66px;
border-radius: 10px;
    background: #20766D;
box-shadow: 0px 7px 40px -11px #20766D;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 66px;
margin-left: 772px;
margin-top: 52px;
}
.travel:hover{
    background: #FFF ;
box-shadow: 0px 7px 40px -11px #20766D;
flex-shrink: 0;
color: #20766D;

}
.animated-earth {
    width: 1706px;
height: 1706px;
flex-shrink: 0;
margin-left: 107px;
} 
.earth-png {
    width: 1706px;
    height: 1706px;
}
img.earth-png {
    animation: 1s linear 15s normal none infinite running rot;
    -webkit-animation: 15s linear 0s normal none infinite running rot;
    width: 1706px;
    height: 1706px;
  }
  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .s2 {
    width: 1920px;
height: 1250px;
flex-shrink: 0;
background: #20766D;
backdrop-filter: blur(40px);
position: relative;
top: -1157px;
}
.s2-title {
    width: 1118px;
height: 142px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 80px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 72px;
margin-left: 401px;
cursor: auto;
}
.s2-table{
    display: flex;
    padding-top: 14px;
}
.s2-table1,.s2-table2,.s2-table3 {
    width: 477px;
    margin-right: 44px;
height: 320px;
flex-shrink: 0;
border-radius: 50px;
background: #F5F5F5;
}
.s2-table1 {
    margin-left: 200px;
}
.about-proj {
    width: 789px;
height: 181px;
margin-top: 77px;
margin-left: 565px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 80px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.about-text {
width: 1520px;
height: 405px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.45px;
margin-left: 200px;
}
footer {
    display: flex;
    width: 1920px;
height: 200px;
flex-shrink: 0;
background: #E5E5E5;
padding-bottom: 20px;
margin-top: -200px;
}
.social-media {
    display: flex;
    padding-top: 100px;
}
.whatsapp, .instagram, .vk, .telegram {
    height: 42px;
}
footer img {
    height: 42px;
}
footer .copy {
    display: flex;
width: 1104px;
padding-top: 80px;
height: 82px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.45px;
}
.quest-small{
    color: #20766D;
}
.logo {
    display: flex;
}
.header-title {
    display: flex;
}
.logo {
    width: 240px;
    height: 48px;
    font-size: 40px ;
    font-weight: 800;
    margin-left: 201px;
}
footer .header-title{
    line-height: 180px ;
}
.social-media a {
    margin-right: 26px;
}
.s2 img {
    height: 64px;
    margin-left: 200px;
    margin-top: 45px;
    margin-bottom: 23px;
}
.table-title {
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.table-text {
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
}